extends layout

block content
	.container
		ul
			each post in posts
				li=post.metadata.created
					h1
						a(href='#{post.link}') #{post.metadata.title}
					div=post.metadata.summary
					div!=post.content

